 <font size="100">⇐ ⇒ ↺ ☖ | <font color="green">🔒 Secure | https://[/color]step.gov.caek[color=gray]/steps/stepone[/color][/size] 

<div style="text-align:center">[background-block=#1A6F34][color=#1A6F34].            [/color][/background-block]
[background-block=#1A6F34][color=#1A6F34].            [/color]<a href="https://i.imgur.com/39FU9Ep.gif" target="_blank" rel="noopener"><img decoding="async" src="https://i.imgur.com/39FU9Ep.gif" alt="https://i.imgur.com/39FU9Ep.gif" border="0" /></a>[/background-block]
[background-block=#1A6F34][color=#1A6F34].            [/color][/background-block]</center>

 <center><b><a href="#1" target="_blank">Mobile Users - Click here to jump to content.</a>[/b]</center> 

 <center>

[table “” not found /]<br />


</center> 

<center>[b]WELCOME NEW NATIONS[/b]

[spoiler=Welcome List]



[/spoiler]</center>

 <center>[size=180][b][anchor=1]STEP One: Getting Oriented[/anchor][/b][/size]</center> 

 <center>[b]Summary[/b]</center>

Welcome to the East Pacific! We are one of the oldest regions out there, with 20 years of experience. We have a lot to offer, including two current tech roleplays and an accessible legislature and executive. If you\'re new, we recommend reading every dispatch in order, but you can also read them independently of one another.

You have either been founded in a frontier or a feeder, two types of regions which accept new nations. If you find yourself in the East Pacific, please read this guide! If you aren\'t in the East Pacific, go to [region]The East Pacific[/region] and scroll down until you see \"Move [YOUR NATION] to the East Pacific.\"

You\'ll be seeing a lot of recruitment Telegrams, which can get spammy and annoying pretty quickly. To disable recruitment telegrams, head to Settings > Telegrams > Preferences > Block All under \"Recruitment\".

Nations receive issues once every six hours. Some issues spawn card packs, which contain cards ranked by rarity that you can retain, trade or sell.

Got questions? Telegram Delegate American-Cascadia or our <a href="https://www.nationstates.net/page=dispatch/id=2594793" target="_blank" rel="noopener">Mentors</a>.
 

 <center>[b]Introduction[/b]</center>

Hello and welcome to NationStates, and the East Pacific. You are currently reading STEP, our guide designed to get you jump started in the game. You probably have many questions about how everything works, and this guide, lovingly written by our hospitality team, is designed to answer all of them and more! If you want to get a quick summary of things and then get launched into things, you will get the gist of things by reading the summaries on top of these dispatches, but we do recommend you read them in full.

If you have any questions, we have multiple government members that are willing to answer them! Feel free to ask on the regional message board, or telegram our Delegate, they will be happy to answer any question you might have!

 

 <center>[b]The World Assembly[/b]</center>

On the sidebar on the left, or the menu on mobile, you\'ll see something labelled \"World Assembly\". This essentially functions as the game\'s version of the United Nations, and it is very important. [b]As a Resident of the East Pacific, we urge you to join the World Assembly as soon as you can[/b]. Our region relies on \"endorsements\", essentially a vote by one World Assembly nation for another to serve as World Assembly Delegate. This is extremely important to the East Pacific, as our Delegate heads our government and so we rely on endorsements to keep the region safe and stable.

Joining is very simple. Beforehand, make sure you have a valid email address in your <a href="page=settings" target="_blank">settings</a>. First, go to the World Assembly page here: https://www.nationstates.net/page=un - once there, please click \"Apply to join\". You will get a confirmation email. Please click it, then press the Confirm: join the World Assembly button. See the screenshots below for examples if you\'re confused!

<center>[spoiler=screenshots]<a href="https://i.imgur.com/CzOL1Su.png" target="_blank" rel="noopener"><img decoding="async" src="https://i.imgur.com/CzOL1Su.png" alt="https://i.imgur.com/CzOL1Su.png" border="0" /></a>
<a href="https://i.imgur.com/bYeBIo8.png" target="_blank" rel="noopener"><img decoding="async" src="https://i.imgur.com/bYeBIo8.png" alt="https://i.imgur.com/bYeBIo8.png" border="0" /></a>[/spoiler]</center>

Once you have joined the World Assembly, [b]please endorse our Delegate <a href="https://www.nationstates.net/nation=american-cascadia#composebutton]American-Cascadia[/url] and our [url=https://www.nationstates.net/page=dispatch/id=2598693" target="_blank" rel="noopener">Viziers</a> to keep the region safe[/b]. You can endorse as many nations as you want, and they may endorse you back, boosting you in influence and prestige. This will also keep you safe in the event of regional upheaval. Moreover, you can now vote in the General Assembly, which passes international legislation, and the Security Council, which passes commendations, condemnations, Liberations and Injunctions, the first two signifying the World Assembly\'s (dis)approval and the latter two applying to regional security. If you\'d like to get involved with the World Assembly further, you should apply for the Ministry of World Assembly Affairs on our Discord!

 

 <center>[b]About Us: [region]The East Pacific[/region][/b]</center>

The East Pacific is one of five feeder regions, one of two categories of regions where new nations spawn. If you\'ve let your nation go inactive and Cease to Exist, and then logged back in, you have likely spawned in one of three restorer regions, which are designed to rehabilitate nations that have returned after a brief period of absence.

If you\'re reading this, it is likely that you have been founded in the East Pacific, but if you haven\'t you are more than welcome to join, and we would love to have you on board. To move, you should go to the East Pacific\'s regional page, scroll down until you see the Move [YOUR NATION] to the East Pacific and then click on it.

<center><a href="https://i.imgur.com/wJ0FI4w.png" target="_blank" rel="noopener"><img decoding="async" src="https://i.imgur.com/wJ0FI4w.png" alt="https://i.imgur.com/wJ0FI4w.png" border="0" /></a></center>

The East Pacific is an active democracy, and participation can be enjoyed by all that seek to contribute in good faith. If you\'re interested in joining, STEPs Three onwards will take you through applying to the East Pacific.

 

 <center>[b]Telegrams[/b]</center>

Many regions send you automated recruitment telegrams in an attempt to get you to join their region. There are a lot of these, and it can get spammy and overwhelming fast. Thankfully, NationStates has given you a way to block Telegrams you don\'t want. To do this, you need to click on the settings button, which is usually found in the top bar of the page.

If you then scroll down to telegrams and go to preferences, you\'ll see a grid which looks something like this:

<center><a href="https://i.imgur.com/6aRbowc.png" target="_blank" rel="noopener"><img decoding="async" src="https://i.imgur.com/6aRbowc.png" alt="https://i.imgur.com/6aRbowc.png" border="0" /></a></center>

Our recommended settings are as follows, however, you are free to choose whatever you want. \"Allow Some\" occasionally allows telegrams in, and \"Allow Most\" blocks some. If you click the \"block all\" for recruitment, your nation will stop receiving the large volume of recruitment telegrams. Keep in mind that your inbox can only hold twenty telegrams.

 

 <center>[b]Issues and Cards[/b]</center>

Issues are problems that you need to handle, and they impact your nations statistics and rankings abroad. Initially you get a higher rate of issues like normal, however, once you\'ve played the game for a while, you only get one issue every six hours. The East Pacific does not penalise you for the way you answer issues - we\'re a big community, and your type of nation reflects that.

There is no \"correct\" way to answer issues, only the way that you want to. Every issue changes your statistics, and some might change your national policy. If you want to, there are websites such as this <a href="http://www.mwq.dds.nl/ns/results/" target="_blank" rel="noopener">one</a> that give you the general trend in issue outcomes, however using these aren\'t necessary and you should only do it if you find it fun!

Issues sometimes generate cards. Cards are minted irregularly and are a snapshot of a nation, divided into various classes of rarity, from common to legendary. Cards can be bought, sold and traded on the market.

 

[background-block=#1A6F34]
<a href="https://i.imgur.com/8oW4ZRy.png" target="_blank" rel="noopener"><img decoding="async" src="https://i.imgur.com/8oW4ZRy.png" alt="https://i.imgur.com/8oW4ZRy.png" border="0" /></a><center>
[b][color=f1f2f4]Current: Getting Oriented[/color] [color=f1f2f4][size=125] | [/size][/color] <a href="https://www.nationstates.net/page=dispatch/id=2598701][color=f5e423]Next: Join the WA → [/color" target="_blank" rel="noopener"></a> [/b]</center>
[/background-block]

<i>Note: This dispatch is automated. Do not edit manually.</i>


[background-block=#1a6f34] <center>[size=300]<font face="Verdana">[color=f2f2f0][b]The East Pacific</b>[/color][/font][/size] [font=arial][size=150]<a href="https://www.nationstates.net/page=dispatch/id=2598692][color=#f5e423]Government[/color][/url] [color=#281f24]|[/color] [url=https://www.nationstates.net/page=dispatch/id=2598700][color=#f5e423]Welcome Guide[/color][/url] [color=#281f24]|[/color] [url=https://www.nationstates.net/page=dispatch/id=1918373][color=#f5e423]News Service[/color][/url] [color=#281f24]|[/color] [url=https://www.nationstates.net/page=dispatch/id=2598697][color=#f5e423]World Assembly Programme[/color][/url] [color=#281f24]|[/color] [url=https://www.nationstates.net/page=dispatch/id=2598679][color=#f5e423]Archives[/color][/url] [url=https://www.nationstates.net/page=dispatch/id=2598683][color=#f5e432" target="_blank" rel="noopener">Dispatch Directory</font></a></font></font></div>[/background-block]

