<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<link rel="stylesheet" href="https://newcss.net/theme/terminal.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Pacific New Service Directory</title>
</head>
<header>
<h1>Eastern Pacific New Service Directory</h1>
<nav>
            <a href="https://forum.theeastpacific.com">Forum</a> /
            <a href="https://discord.gg/the-east-pacific-633351482128728064">Discord</a> /
            <a href="https://www.nationstates.net/page=dispatch/id=2598700">STEP</a>
        </nav>
</header>
<body>
    <h1>Welcome</h1>

<h1>2024</h1>
<details>
<a href="https://www.nationstates.net/page=dispatch/id=1995930">Edition 31, January</a>
</details>
</body>
</html>
