<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Urth!</title>
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<header>
<h1>Urth: Roleplay & Worldbuilding</h1>
<body>
<p><center> <a href="https://urthmaps.com"><img src="https://forum.theeastpacific.com/uploads/default/original/2X/a/a6136c58df4c6ccd1982202e1e10a092f2cda800.jpeg" height="20%" width="20%"></a> <a href="https://tep.wiki"><img src="https://forum.theeastpacific.com/uploads/default/original/2X/4/4e3f40a6011a5e618ede24faf24b8924bc8ebe92.jpeg" height="20%" width="20%"></a> <a href="https://forum.theeastpacific.com/t/one-stop-roleplay-rules-shop/16228"><img src="https://forum.theeastpacific.com/uploads/default/original/2X/1/15b79761ff32b0ecf6613c4eb5ed4e9c4cdd0b23.jpeg" height="20%" width="20%"></a> </center></p>
<h1 id="welcome-to-urth-">Welcome to Urth!</h1>
<p>A multispecies modern-tech forum roleplay that takes place in the Teplar System on planet Urth. It follows the date and time concurrently with the real-world Earth. Founded in 2003 as the roleplaying map of NationStates&#39; region of The East Pacific, later called TEP Evolved, and since 2016 has been known as Urth.</p>
<h1 id="the-continents">The Continents</h1>
<p><strong><a href="https://tep.wiki/wiki/Aurora">Aurora</a></strong> is an oblong continent located in the southern half of the eastern hemisphere. Aurora has the world&#39;s most-active continental bloc, the <a href="https://tep.wiki/wiki/United_Nations_of_the_Auroran_Continent">United Nations of the Auroran Continent</a>, that arose in part from the ashes of the <a href="https://tep.wiki/wiki/Auroran-Cerenerian_War">Auroran-Cerenerian War</a></p>
<p><strong><a href="https://tep.wiki/wiki/Arcturia">Arcturia</a></strong> is a continent located to the west of Aurora and to the south of Yasteria.</p>
<p><strong><a href="https://tep.wiki/wiki/Cereneria">Cereneria</a></strong> is a continent located between Yasteria and Aurora, comprised of hundreds of large to small islands that make up the above-sea Cerenerian continental shelf.</p>
<p><strong><a href="https://tep.wiki/wiki/Concord">Concord</a></strong> is a continent located to the west of Yasteria and to the northwest of Arcturia. Most of its landmass is taken by <a href="https://tep.wiki/wiki/South_Hills">South Hills</a>, although the continent is also home to <a href="https://tep.wiki/wiki/Norgsveldet">Norgsveldet</a> and is seen as the political base of power of the <a href="https://tep.wiki/wiki/Union_of_Commonwealth_Alliances">Union of Commonwealth Alliances</a>.</p>
<p><strong><a href="https://tep.wiki/wiki/Gondwana">Gondwana</a></strong> is located in the southern half of the western hemisphere, and is home to significant expanses of rainforest. The Feline species evolved and is primarily located here. The western portion of Gondwana, separated from the east by water, is called Alaria and is considered by some to be a sub-continent of Gondwana.</p>
<p><strong><a href="https://tep.wiki/wiki/Novaris">Novaris</a></strong> is located in the northern half of the western hemisphere and has a varied climate that reaches from the tropics to the Rotantic circle. Home to the <a href="https://tep.wiki/wiki/League_of_Novaris">League of Novaris</a>, the continent has long been a crossroads between colonists from outside the continent as well as several native world powers.</p>
<p><strong><a href="https://tep.wiki/wiki/Sempiterna">Sempiterna</a></strong> is the only continent on Urth with no permanent sentient inhabitants and is almost completely covered by the Septiterna Ice Sheet, a massive cap of ice. By international agreement, no nation can claim any part of Sempiterna as its sovereign territory.</p>
<p><strong><a href="https://tep.wiki/wiki/Yasteria">Yasteria</a></strong> is the largest continent on Urth by total land area, and is often broken up into sub-continents: <a href="https://tep.wiki/wiki/Yasteria">Yasteria Major</a>, <a href="https://tep.wiki/wiki/Yasteria_Minor?action=edit&amp;redlink=1">Yasteria Minor</a>, <a href="https://tep.wiki/wiki/Southeast_Yasteria?action=edit&amp;redlink=1">Southeast Yasteria</a>, <a href="https://tep.wiki/wiki/Borea">Borea</a>, and <a href="https://tep.wiki/wiki/Itur">Itur</a>. The last two are considered continents in their own right by some.</p>
<h1 id="how-to-join-">How to join?</h1>
<p>Click the &quot;Signup&quot; button on the top right of the screen, answer the questionnaire, then follow the instructions located in your welcome post!</p>
</body>
</html>
